---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Search from '@/components/react/search'
import PaginationComponent from '@/components/ui/pagination'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allPosts = await getAllPosts()
  return paginate(allPosts, { pageSize: 5 })
}

const { page } = Astro.props
const searchList = await getAllPosts()
const currentUrl = Astro.url;
---

<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="Blog" />
  
  <Breadcrumbs
    items={[
      { label: 'Blog', href: '/blog', icon: 'lucide:archive' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:folder-open' },
    ]}
  />
  <section class="max-screen mt-12 px-4 md:px-6">
    <div class="flex w-fit items-center gap-2 text-primary">
        <Icon class="h-4 w-4 text-secondary-foreground animate-pulse" name="lucide:brain" />
        <p class="shimmer word-spacing font-mono text-sm uppercase leading-none text-secondary-foreground">
          思辨与创造
        </p>
    </div>
    <h2
    id="skills-title"
    class="font-custom text-foreground text-4xl font-bold mt-2"
    >
      Blogs
    </h2>
    <p class="text-muted-foreground text-md max-w-2xl mt-3">
      欢迎来到我的博客！在这里，我将分享我在学习进步路上的经验和见解。希望这些信息对每一个访问者都有帮助和有一定吸引力。
    </p>

    <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8 my-12">
      <Search client:load searchList={searchList} initialPosts={page.data} />
    </div>

    <PaginationComponent
      currentPage={page.currentPage}
      totalPages={page.lastPage}
      baseUrl="/blog/"
      client:load
    />
  </section>
</Layout>
