---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import BlogCard from '@/components/react/blog-card'
import Skills from '@/components/react/skills'
import { buttonVariants } from '@/components/ui/button'
import FlagChina from '@/components/ui/FlagChina.astro'
import Logo from '@/components/ui/logo'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { SITE } from '@/consts'

const blog = await getRecentPosts(3)
const currentUrl = Astro.url;
---

<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="Junior Full Stack Developer" />
  <section class="flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-16">
    <div
      class="flex flex-col items-center text-center sm:flex-row sm:items-start sm:gap-8 sm:text-left"
    >
      <div class="relative overflow-hidden rounded-lg sm:shrink-0 sm:overflow-hidden sm:rounded-lg">
        <Logo
          className="h-auto w-40 object-cover sm:w-48 md:w-56 lg:w-64 "
        />
      </div>
      <div class="mt-8 sm:mt-0 sm:max-w-xl">
        <h1
          class="font-custom text-foreground text-start text-4xl font-extrabold sm:text-5xl"
        >
          {SITE.title}
        </h1>
        <div class="mt-4 flex items-center gap-2" aria-label="location">
          <span
            class="bg-primary text-primary-foreground ring-primary/30 rounded-full px-3 py-1 text-sm font-medium ring-1"
          >
            I'm from
          </span>          <span class="flex items-center gap-1">
            <span class="text-foreground text-sm font-medium"> {SITE.location}</span>
            <FlagChina size="sm" />
          </span>
        </div>
        <p class="text-md text-foreground mt-4 text-start font-sans" title="description" aria-label="description">
          {SITE.description}
        </p>
      </div>
    </div>

    <section class="relative" aria-labelledby="skills-title">
      <h2
        id="skills-title"
        class="font-custom text-foreground text-2xl font-bold"
        title="skills"
        aria-label="skills"
        role="heading"
      >
        Skills & Technologies
      </h2>
      <p class="text-muted-foreground text-sm" aria-label="skills description">
        以下是我熟悉的技能和技术栈。我一直在不断学习和提升自己的能力，希望能在未来的项目中应用这些技能。
      </p>
      <div>
        <Skills client:load />
      </div>
    </section>

    <section class="flex flex-col gap-y-4" aria-labelledby="latest-posts-title" role="region">
      <div class="relative" aria-labelledby="latest-posts-title">
        <h2
          id="latest-posts-title"
          class="font-custom text-foreground text-2xl font-bold"
          title="latest blog posts"
          aria-label="latest blog posts"
        >
          Latest Blog Posts
        </h2>
        <p class="text-muted-foreground text-sm" aria-label="blog description">
          这是我最近写的一些博客文章，分享了我在编程、技术和生活等方面的见解。
        </p>
      </div>
      <ul class="flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center" aria-label="see all posts">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          查看所有文章 <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </section>
</Layout>
